body {
  background-color: rgb(60, 62, 66);
  color: white;
  font-family: "Quattrocento Sans", sans-serif;
  margin-left: 0%;
  margin-right: 0%;
}
/* Header */
.masthead {
  text-align: center;
  height: auto;
  max-width: 100%;
  margin-bottom: 2%;
}
.masthead img {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  text-align: center;
  max-width: 100%;
  width: 17vw;
}
.masthead h1 {
  margin: 0.5% auto 0.5% auto;
  height: auto;
  font-variant: small-caps;
  font-style: italic;
  font-size: 3vw;
  color: rgb(255, 255, 255);
  letter-spacing: 0.09em;
}
hr {
  max-width: 100vw;
  border: 1px solid white;
  margin-bottom: 0%;
}
hr#bottom-hr {
  margin-top: 0%;
}
hr#footer-hr {
  margin-top: 0%;
}
/* Nav */
button#mobile-menu {
  display: none;
}
div.nav {
  margin-top: 0.1%;
  margin-bottom: 0%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.nav h1 {
  font-size: 2.5vw;
  color: rgb(252, 215, 66);
  letter-spacing: 0.1em;
  font-weight: bold;
}
div.nav ul {
  padding-left: 0%;
  margin-top: 1%;
  background-color: rgb(60, 62, 66);
  /* background-color: rgb(70, 73, 77); */
  /* box-shadow: 0px 0px 1.5px black; */
  padding-top: 1%;
  padding-bottom: 1%;
  max-width: 97%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

div.nav ul li {
  display: inline;
  text-decoration: none;
  padding: 1.5%;
  font-size: 1.3vw;
  max-width: 100%;
  text-align: center;
  font-weight: bolder;
}
div.nav ul#link-options {
  margin-bottom: 0.11%;
  margin-top: auto;
}
.nav a {
  text-decoration: none;
  color: rgb(252, 215, 66);
  transition-duration: 0.3s;
}
.nav a:hover {
  color: rgb(255, 255, 255);
  transition-duration: 0.3s;
}

/* Body */
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3vw;
  justify-items: center;
  margin: auto;
  padding-top: 1%;
  text-align: center;
  max-width: 90%;
  /* align-items: center; */
}
div.content {
  padding-top: 0.1%;
  padding-bottom: 2%;
  background-color: rgb(50, 51, 54);
  text-align: center;
  width: 100vw;
  max-width: 100vw;
  margin-right: auto;
  margin-left: auto;
}
div.textContent {
  background-color: rgb(209, 32, 62);
  border-radius: 20px;
  width: 90%;
  max-width: 90%;
  padding-top: 2%;
  box-shadow: 0px 0px 8px rgb(209, 32, 62);
}

div.content ul {
  list-style-type: none;
  padding-left: 0%;
}
div.content ul li {
  font-size: 1.5vw;
  padding: 3%;
  text-align: center;
}
div.content li a {
  text-decoration: none;
  transition-duration: 0.3s;
  color: rgb(255, 255, 255);
}
div.content li a:hover {
  color: rgb(252, 215, 66);
  transition-duration: 0.3s;
}
div.content h1 {
  text-align: center;
  font-size: 2vw;
  color: rgb(252, 215, 66);
  margin-top: 0%;
}
h1#pagename {
  text-align: center;
  margin-top: 1.5%;
  margin-bottom: 0.5%;
}

/* Media Queries */
/* Phone */
@media only screen and (min-device-width: 320px) and (max-device-width: 992px) and (-webkit-min-device-pixel-ratio: 2) {
  .masthead img {
    width: 27vw;
    max-width: 100%;
    height: auto;
  }
  .masthead h1 {
    font-size: 6vw;
  }

  button#mobile-menu {
    margin: 2% auto 2% auto;
    display: block;
    height: auto;
    background-color: rgb(209, 32, 62);
    color: rgb(255, 255, 255);
    width: 140px;
    height: 140px;
    border-radius: 100px;
    border-width: 0px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    font-size: 4.5vw;
    text-align: center;
    text-decoration: none;
  }
  div.nav {
    display: none;
  }

  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 5%;
    grid-gap: 3vw;
    max-width: 90%;
  }
  div.nav ul {
    margin-top: 0%;
  }
  div.nav ul li {
    display: block;
    font-size: 4vw;
  }
  div.content h1 {
    text-align: center;
    font-size: 6vw;
  }
  div.content ul li {
    text-align: center;
    /* width: auto; */
    font-size: 4vw;
    /* max-width: 100%; */
  }
  div.textContent {
    padding-bottom: 1%;
    width: 90%;
    max-width: 90%;
  }
  /* div.textContent li {
    width: 26vw;
  } */
}

/* Footer */

.foot {
  background-color: rgb(68, 72, 77);
  margin-top: 2%;
  text-align: center;
  padding: 1.8% 0.2% 1.8% 0.2%;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 1.5px black;
  max-width: 68%;
  margin-left: auto;
  margin-right: auto;
}
.foot p {
  display: inline;
  font-size: 1.2vw;
}

.foot a {
  color: rgb(252, 215, 66);
  transition-duration: 0.3s;
}
.foot a:hover {
  color: rgb(255, 255, 255);
  transition-duration: 0.3s;
}
